<div class="top-pane">
  <p id="header">Recupera tus archivos generados recientemente</p>
  <br /><br />
  <p id="title">Emergency Backup</p>
  <br /><br />
  <p id="info-top">
    ¡No pierdas tu información! Con esta aplicación podrás realizar un respaldo
    de emergencia de los últimos archivos generado en tu celular.
  </p>
</div>
<div class="info">
  <a>¿Ya has realizado algún respaldo?</a><br /><br />
  <a>Inicia sesión y descárgalo aquí</a>
</div>
<div id="login" style="display: flex; justify-content: center">
  <div>
    <button mat-raised-button class="btn-main" (click)="displayModal()">
      Ingresar
    </button>
  </div>
  <div id="btn-download">
    <button
      mat-raised-button
      class="btn-main"
      [disabled]="!logedIn ? 'true' : 'false'"
    >
      Descargar
    </button>
  </div>
</div>
