<div class="main_div">
  <mat-card class="login_card">
    <div style="display: flex; justify-content: center">
      <img src="../assets/person.svg" stype />
    </div>
    <mat-card-content>
      <form class="example-form">
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Correo Electrónico"
                  [(ngModel)]="username"
                  name="username"
                  required
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Contraseña"
                  [(ngModel)]="password"
                  type="password"
                  name="password"
                  required
                />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div style="display: flex; justify-content: center">
        <mat-spinner
          [style.display]="showSpinner ? 'block' : 'none'"
        ></mat-spinner>
      </div>
      <div style="display: flex; justify-content: center">
        <button
          mat-raised-button
          disabled="{{fromSmartphone}}"
          (click)="login()"
          class="login_button"
          [style.display]="showSpinner ? 'none' : 'block'"
        >
          Ingresar
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
